<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title - SUNRUSE.influx</title>
    @Styles.Render("~/bundles/style")
</head>
<body>
    @RenderBody()
</body>
</html>
