textarea {
    overflow: hidden;
    resize: none;
    min-height: 30em;
    padding: 1.25em;   
    width: 25em;
    line-height: 1.25em;
    background: linear-gradient(to bottom, white 80%, grey 85%, white 90%);
    background-size: 1.25em 1.25em;
    background-repeat: repeat;
    box-shadow: 0 0.25em 0.5em rgba(0, 0, 0, 0.25);
}