node_modules
dist
npm-debug.log
src/clr/.vs
src/clr/*/bin
src/clr/*/obj
src/clr/packages
src/clr/*/Web.Release.config
src/clr/*/*.user
src/clr/*/App_Data/*.mdf
src/clr/*/App_Data/*.ldf
src/clr/*/Properties/PublishProfiles
src/clr/SUNRUSE.Influx.Web/Scripts/Editor.js